.logIn { 
    width: 360px;
    margin: 0 auto 100px;
    padding: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.logIn input {
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}
.logIn input[type=submit] {
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    cursor: pointer;
}

.update{ 
    width: 360px;
    margin: 0 auto 100px;
    padding: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.update {
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}
.update input[type=submit] {
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    cursor: pointer;
}

.signUp {
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.signUp input {
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}
.signUp input[type=submit] {
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    cursor: pointer;
}
body{
    margin: 0;
    padding: 0;
}
.gallery-page{
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h6{
    margin-top: auto;
    margin-bottom: 10px;
}
.main-header{
    height: 100px;
    margin-bottom: 15px;
    padding-bottom: 40px;
    width: 100%;
}
.footer{
    height: 80px;
}
.main-header img{
    height: 120px;
    width: 190px;
}
.nav {
    color: white;
    height: 40px;
}
.menu {
    margin-left: 150px;
    margin-top: -54px;
    border: none;
    padding-bottom: -20px;
}
.menu a {
    clear: right;
    color: white;
    margin: 0 10px;
    line-height: 70px;
}
.nav label {
    margin: 0 40px 0 0;
    line-height: 60px;
    display: none;
    width: 30px;
    float: right;
}
#toggle {
    display: none;
}
.gallery-page{
    align-content: center;
    height: 1000px;
    width: 1000px;
    display: grid;
    padding: 0;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    

}
.gallery-page img{
    margin-left: 30px;
    height: 90%;
    width: 90%;
    margin-top: 10px;
}
.ImgHo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 54.7%;
    margin-top: 50px;
}
.ImgHoBot {
    display: block;
    margin-top: 50px;
    margin-left: 550px;
    margin-bottom: 50px;
}
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
    background-color: white;
    margin-top: 70px;
    margin-bottom: 10px;
}
.grid-container > div {
    padding: 20px 0;
}
.admin { 
    width: 360px;
    margin: 0 auto 100px;
    padding: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.admin input {
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}
.admin input[type=submit] {
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    cursor: pointer;
}

/*upload and update button (profile)*/
.profButton input[type=submit]{
     text-transform: uppercase;
  outline: 0;
  width: 200px;
  border: 0;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}
/*upload Button*/
.profButton .uploadButton{
    margin-top: 200px;
}

.imgProfilePic{
    width:auto;
    height: auto;
    margin-left: 50px;
}

.profile-container p{
    font-size: 25px;
     margin-top: 20px;
     
     margin-left:150px;
}

.profile-container{
    
    text-align: left;
    float: right;
    margin-left: -50px;
    margin-top: 40px;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
    font-size: 15px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    
}

.imgProfilePic{
    width: 30%;
    float: left;
    border-radius: 50%;
}
/*Breadcrumbs*/
ul.breadcrumb {
    padding: 5px 16px;
    list-style: none;
    margin-top:35px;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
}

ul.breadcrumb li a {
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}
.item1 h4{
    margin-top: -10px;
}

.item1 { 
    grid-area: menu; 
}

.item3 {
    grid-area:main;
}
.tab button {
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tabcontent {
    text-align: center;
    display: none;
    padding: 6px 60px;
    border: 1px solid #ccc;
    border-top: none;
    padding-top: 0px;
}

.tab {
    float:none;
    overflow: hidden;
    border: none;
    align-content: center;
    position:inherit;
    text-align: center;
}
\*HOME CSS*\






.ImgHo {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
    margin-top: 50px;



}

.ImgHoBot {
    
    display: block;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: auto;
    margin-bottom: 50px;
    

}

.SL {
    width: 15%;
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
}

.HtoA {
    
    text-align: center;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 50px;
}

.center {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 25px;
    
    
}

.titles {
    
    margin-left: -470px
    
}

.titles2 {
    
    margin-left: -620px
    
}

.mySlides {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-right: auto;
    
    margin-top: 25px;
    
    
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

w3-left{
    
    width: 10%;
    
}



.buttonCon {
    width: 50%;
    height: 25px;
    
    margin: auto;
    padding: 10px;
}
.w3-left {
    width: 2.5%;
    height: 25px;
    
    margin-top: -450px;
    margin-left: -550px;
}
.w3-right {
    margin-left: 1780px;
    height: 25px;
    width: 2.5%;
    margin-top:-25px;
    
    
}



@media all and (max-width: 550px) {
    .nav label {
        display: block;
        cursor: pointer;
        position: relative;
        margin-left: 0px;
        margin-top: -10px;
        z-index: 100;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        margin-top: 45px;
        margin-left: auto;
        position: relative; 
    }
    .menu a {
        position: relative;
        text-align: left;
        padding-top: 40px;
        color: white;
        display: block;
        margin-right: auto;
        margin-top: -40px;;
        margin-left: 70px;
        font-size: 20px;
        margin-bottom: -40px;
    }
    form{
        z-index: -100;
        width: auto;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .signUp{
        z-index: -100;
    }
    .logIn{
        z-index: -100;
    }
    .main-header{
        width: 120%;
    }
    .footer{
        width: 120%;
    }
    .main-header img{
        height: 90px;
        width: 120px;
        margin-left: 5px;
    }
    .gallery-page img{
        margin-left: auto;
        height: 140px;
        width: 140px;
        margin-top: 10px;
        margin-right: auto;

    }
    .gallery-page{
        align-content: left;
        height: 300px;
        width: 300px;
        padding: 0;
        margin-left: auto;
        margin-right: auto; 
        z-index: auto;
    }
    .logIn input {
        width: 90%;  
    }
    .logIn input[type=submit] {
        width: 90%;
    }
    .signUp input {
        width: 100%;
    }
    .signUp input[type=submit] {
        width: 100%;
    }
    .body{
       margin-left: auto;
       margin-right: auto;         
    }
    .admin input {
        width: 90%;
    }
    .admin input[type=submit] {
        width: 90%;
    }
    .admin input {
        width: 100%;
    }
    .admin input[type=submit] {
        width: 100%;    
    }
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
        .profilePic{
        float: left;
        height:100px;
        width: 120px;
        margin-top: -20px;
        margin-left: 10px;
    }
   .profile-container p{
        font-size: 18px;
        margin-top: 20px;
        margin-left: 90px;
    }
    .profButton input[type=submit]{
        text-transform: uppercase;
        outline: 0;
        background: #444;
        width: 150px;
        border: 0;
        padding: 8px;
        color: #FFFFFF;
        font-size: 14px;
        cursor: pointer;
        margin-left: 30px;
    }

    .profButton .uploadButton{
        margin-top: 200px;
    }
    
    
}
@media all and (max-width: 700px){
    ul.breadcrumb {
    padding: 5px 16px;
    list-style: none;
    margin-top:-55px;
    }
    
    .logIn input {
        width: 90%;
    }
    .logIn input[type=submit] {
        width: 90%;
    }
    
    .signUp input {
        width: 100%;
    }
    .signUp input[type=submit] {
        width: 100%;
    }
    .body{
       margin-left: auto;
       margin-right: auto;         
    }
    .gallery-page img{
        margin-left: auto;
        height: 250px;
        width: 250px;
        margin-top: 10px;
        margin-right: auto;
        display: block;
    }
    .gallery-page{
        align-content: left;
        height: auto;
        width: auto;
        display: block;
        padding: 0;
        margin-left: auto;
        margin-right: auto;   
    }
}



