.logIn {
    font-family: sans-serif;
    text-align: center;
}
.logIn input {
    font-family: sans-serif;
    font-size: 14px;
}
.logIn input[type=submit] {
  text-transform: uppercase;
  font-size: 14px;
}
/*
@font-face{
    font-family: open sans;
    src: url(fonts/OpenSans-Regular);
}*/
